{% block related_to_many_metadata_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    {% set namespace = attr['data-namespace'] %}
    {% set uniqueId = namespace~'_'~id %}
    <script type="text/javascript">
        var metadataCollectionHolder_{{ uniqueId }} = $('#{{ id }}');
        var $addMetadataLink_{{ uniqueId }} = $('<a id="{{ id }}" class="btn btn-default add_metadata">{% trans %}label.add{% endtrans %}</a>');
        var $metadataNewLink_{{ uniqueId }} = $('<div id="{{ id }}"></div>').append($addMetadataLink_{{ uniqueId }});

        jQuery(document).ready(function() {
            metadataCollectionHolder_{{ uniqueId }}.append($metadataNewLink_{{ uniqueId }});

            $addMetadataLink_{{ uniqueId }}.on('click', function(e) {
                e.preventDefault();
                addMetadataForm_{{ uniqueId }}(metadataCollectionHolder_{{ uniqueId }}, $metadataNewLink_{{ uniqueId }});
            });

            metadataCollectionHolder_{{ uniqueId }}.find('.idci_metadata__related_to_one_metadata').each(function() {
                addMetadataFormDeleteLink_{{ uniqueId }}($(this));
            });
        });

        function addMetadataForm_{{ uniqueId }}(metadataCollectionHolder, $metadataNewLink) {
            var prototype = metadataCollectionHolder.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, metadataCollectionHolder.children().length);
            var $newFormDiv = $('<div></div>').append(newForm);
            $metadataNewLink.before($newFormDiv);
            addMetadataFormDeleteLink_{{ uniqueId }}($newFormDiv);
        }

        function addMetadataFormDeleteLink_{{ uniqueId }}($metadataFormDiv) {
            var $removeFormA = $('<a class="btn btn-default">{% trans %}label.delete{% endtrans %}</a>');
            $metadataFormDiv.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $metadataFormDiv.remove();
            });
        }
    </script>
{% endblock related_to_many_metadata_widget %}

